.green-btn{
    background: #4CAF4F;
    color: #FFF;
    font-weight: 400;
}
.green-btn:hover,.green-btn:focus{
    background: #38853b;
    color: #FFF;
}

.btn-btn-lg-green-btn{
    color: #4CAF4F;
}

.primary-color{
    color: #4CAF4F;
    text-decoration: none;
}

.text-translate{
    transform: translateY(-70%);
    background: #F5F7FA;
    margin: 76px;
    border-radius: 10px;
    margin-top: auto;
}

.footer-bottom{
    padding: 100px;
    border-radius: 0 20px;
    background: #263238;

}

.footer-bottom p{
    color: #F5F7FA;
}

.footer-bottom img{
    margin: 16px;

}

.row h3{
    color: #F5F7FA;
}

.link-group a{
    color: #F5F7FA;
    text-decoration: none;
    display: flex;
}